<% layout('./boilerplate') -%>

<div class="text-white w-full  h-auto flex justify-center py-10 mt-10">
    <div class="content md:w-10/12">
    <div class="overflow-x-auto">
        <table class="table">
          <!-- head -->
          <thead class="">
            <tr>
              <th>Name</th>
              <th class="hidden md:block">Discription</th>
              <!-- <th>View</th> -->
            </tr>
          </thead>
          <tbody>
            <!-- row 1 -->
             <% SearchedUsers.forEach(function(user){ %>
                <tr>
                    <td>
                      <div class="flex items-center gap-3">
                        <div class="avatar">
                          <div class="mask mask-squircle h-12 w-12">
                            <img
                              src="data:image/jpeg;base64,<%= user.profile_picture.toString('base64') %>" />
                          </div>
                        </div>
                        <div>
                          <div class="font-bold"><%= user.name %></div>
                          <div class="text-sm opacity-50"><%= user.username %></div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <span class="badge badge-ghost badge-sm md:block hidden"><%= user.bio %></span>
                    </td>
                    
                    <!-- <th>
                      <a href="/user/profile/<%= user._id %>"><button class="btn btn-ghost btn-xs">Show Profile</button></a>
                    </th> -->
                  </tr>
            <% }) %>
          </tbody>
         
        </table>
      </div>

    </div>

</div>